<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Project</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">
    <script src="{% static 'js/map.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFzApqD1tGY615APaue-nIwjC6Lx5pOp0&callback=initMap" async defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="top-bar">
        <form id="route-form" action="" method="post">
            {% csrf_token %}
            <a class="home" href="/explorer//">首頁</a>
            <label for="start">Start:</label>
            <input type="text" id="start" name="start" value="{{ start }}" required>
            <label for="destination">Destination:</label>
            <input type="text" id="destination" name="destination" value="{{ destination }}" required>
            <button type="submit">搜尋路線</button>
            <button type="button" id="recommend">增加停靠點</button>

        </form>
    </div>
    <br>
    <div class="container">
        <div class="left">
            <div id="map" style="height: 100%; width: 100%;"></div>
        </div>
        <div class="right"  style = "background-image: url('/static/images/index/hell_imae02.jpg');">
            {% comment %} <div id="display-info"></div> {% endcomment %}
            <div class="main-title">本此路線行經的風險</div>
            <div class="section-title">交通事故紀錄 (平均一年發生次數)</div>
            <div id="display-info-traffic-accident" style="background-color: rgba(255, 255, 255, 0.5); width: 104%;"></div>
            <div class="section-title">地震紀錄 (1995年至今的震央位置)</div>
            <div id="display-info-earthquake" style="background-color: rgba(255, 255, 255, 0.5); width: 103%;"> </div>
            <div class="earthquake-container" id="display-info-earthquake-list" style="background-color: rgba(255, 255, 255, 0.5); width: 100%;"></div>
            <div class="loading-message" id="loading-message" style="display: none;">Calculating risks, please wait...\nDon't refresh the screen!!!!!!!!!!!!</div>
        </div>
    </div>
    <script>
        document.getElementById('recommend').addEventListener('click', function () {
            const start = document.getElementById('start').value;
            const destination = document.getElementById('destination').value;
            if (start && destination) {
                const url = `/explorer/travel?start=${encodeURIComponent(start)}&destination=${encodeURIComponent(destination)}`;
                window.location.href = url;
            } else {
                alert('Please enter both start and destination.');
            }
        });
    </script>
</body>
</html>
