<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>搜尋景點及美食</title>
    <style>
        .container {
            display: flex;
            justify-content: space-between;
        }
        .column {
            width: 45%;
        }
        .result {
            margin-bottom: 20px;
        }
        .result img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>輸入地名及區域</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="location">地名:</label>
        <input type="text" placeholder="縣市" name="location" required>
        <br>
        <label for="area">區域:</label>
        <input type="text" placeholder="鄉鎮區域" name="area" required>
        <br>
        <button type="submit">搜尋</button>
    </form>
    {% if attractions or food_places %}
    <div class="container">
        <div class="column">
            <h2>景點</h2>
            {% for attraction in attractions %}
                <div class="result">
                    <h3>{{ attraction.title }}</h3>
                    <img src="{{ attraction.image }}" alt="{{ attraction.title }}">
                    <p>地址: {{ attraction.address }}</p>
                    <p>電話: {{ attraction.phone }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="column">
            <h2>美食</h2>
            {% for food in food_places %}
                <div class="result">
                    <h3>{{ food.title }}</h3>
                    <img src="{{ food.image }}" alt="{{ food.title }}">
                    <p>評價: {{ food.rating }}</p>
                    <p>地址: {{ food.address }}</p>
                    <p>電話: {{ food.phone }}</p>
                    <p>營業時間: {{ food.openhour }}</p>
                    <p>平均消費: {{ food.price }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}



</body>
</html>