<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>搜尋景點及美食</title>
    <style>
        .container {
            display: flex;
            justify-content: space-between;
        }
        .column {
            width: 45%;
        }
        .result {
            margin-bottom: 20px;
        }
        .result img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>輸入地名及區域</h1>
    <form method="POST">
        <label for="location">地名:</label>
        <input type="text" placeholder="縣市" name="location" required>
        <br>
        <label for="area">區域:</label>
        <input type="text" placeholder="鄉鎮區域" name="area" required>
        <br>
        <button type="submit">搜尋</button>
    </form>
    <div class="container">
        <div class="column">
            <h2>景點</h2>
            <div class="result">
                <h3>嘉義縣 ─ 受鎮宮</h3>
                <img src="./static/images/traveltest.jpg">
                <p>評價: 4星</p>
                <p>地址: 嘉義縣阿里山鄉香林村2鄰45號</p>
                <p>聯絡電話: 05-267-9917</p>
            </div>
        </div>
        <div class="column">
            <h2>美食</h2>
            <div class="result">
                <h3>初衷小鹿 Deer's hotpot Bistro</h3>
                <img src="./static/images/traveltest.jpg">
                <p>地址: 臺北市信義區忠孝東路四段553巷6弄15號</p>
                <p>訂位電話: 0227650998</p>
            </div>
        </div>
    </div>


    {% comment %} {% if attractions or food_places %}
        <h1>搜尋結果</h1>
        <div class="container">
            <div class="column">
                <h2>景點</h2>
                {% for attraction in attractions %}
                    <div class="result">
                        <h3>{{ attraction.title }}</h3>
                        <img src="{{ attraction.image }}" alt="{{ attraction.title }}">
                        <p>地址: {{ attraction.address }}</p>
                        <p>電話: {{ attraction.phone }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="column">
                <h2>美食</h2>
                {% for food in food_places %}
                    <div class="result">
                        <h3>{{ food.title }}</h3>
                        <img src="{{ food.image }}" alt="{{ food.title }}">
                        <p>地址: {{ food.address }}</p>
                        <p>電話: {{ food.phone }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %} {% endcomment %}

</body>
</html>


